@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        @apply text-black;
        font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    }

    h1 {
        @apply text-h1;
    }

    h2 {
        @apply text-h2;
    }

    h3 {
        @apply text-h3;
    }

    p {
        @apply text-p;
    }
}

@layer utilities {
    .no-scroll::-webkit-scrollbar {
        display: none;
    }

    .no-scroll {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }

    .element {
        display: flex;
        padding: 16px;
        border-radius: 16px;
        box-shadow: 0 0 12px 2px #0000000F;
    }
}

:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
    display: flex;
    background-color: #F3F3F3;
    width: 100vw;
    min-height: 100vh;
}

input::-webkit-search-cancel-button,
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    appearance: none;
}
