@import '@fontsource/fira-mono';

:root {
	--font-body: Inter, sans-serif;
	--font-h1: 600 24px/32px var(--font-body);
	--font-h2: 500 20px/24px var(--font-body);
	--font-p1: 500 15px/16px var(--font-body);

	--color-primary: #C2EB3D;
	--color-black: #1E1E1E;
	--color-white: #FFF;
	--color-bg: #F3F3F3;
	--color-decoration: #CCC;
	--color-inactive: #858585;
	--color-code-error: #d100ff;

	--size-8: 8px;
	--size-16: 16px;
	--size-24: 24px;
	--size-button: 48px;

	font-family: var(--font-body, 'sans-serif');
	color: var(--color-black, #000);
}

body {
	display: flex;
	flex-flow: column;
	width: 100vw;
	min-height: 100vh;
	margin: 0;
	gap: var(--size-24, 24px);
	box-sizing: border-box;
	background-color: var(--color-bg, #F3F3F3);
}
