@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        @apply text-black;
        @apply bg-background;
        font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    }
}

:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
    display: flex;
    width: 100vw;
    min-height: 100vh;
}
