.idea/

# Client
.DS_Store
/client/node_modules
/client/build
/client/.svelte-kit
/client/package
/client/package-lock.json
.env
.env.*
!.env.example
.vercel
.output
vite.config.js.timestamp-*
vite.config.ts.timestamp-*